.content {
    display: block;
}

.error-page {
    width: 100%;
    border: 1px solid blue;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.error-page a {
    margin-top: 2rem;
    width: 70%;
    text-align: center;
}