*, *::selection, html {
  --main-txt-clr: #f5ebd0;
  --main-bg-clr: #7f011f;
  color: var(--main-txt-clr);
  background: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-clr);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

input, button, textarea, input:focus, button:hover, button:focus, textarea:hover, textarea:focus {
  outline: none;
  border: none;
}

input {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  background-color: #ccc;
  padding: .8rem .5rem;
  border-radius: 12px;
}

textarea {
  width: stretch;
  min-height: 15rem;
  height: fit-content;
  resize: none;
  font-size: .9rem;
  line-height: 2;
  font-family: "Roboto", sans-serif;
  padding: .6rem .5rem;
  background-color: #fff;
  color: #000;
  margin-top: .7rem;
  border-radius: 7px;
}

button, label {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover, li:hover {
  color: #8b8676;
}

select {
  min-width: 15rem;
  padding: .5rem;
  border-radius: 7px;
  background-color: var(--main-bg-clr);
  border-color: var(--main-txt-clr);
  cursor: pointer;
  transition: 0.4s;
  scrollbar-color: var(--main-txt-clr) var(--main-bg-clr);
  scrollbar-width: thin;
}

select:focus {
  outline: none;
}

select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  color: var(--main-txt-clr);
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

option {
  background-color: var(--main-bg-clr);
  padding: .3rem;
  transition: 0.2s;
}

option:hover {
  background-color: #5a0317;
}

option:first-of-type {
  border-radius: 8px 0 0 0;
}

option:last-of-type {
  border-radius: 0 0 0px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option::checkmark {
  order: 1;
  margin-left: auto;
  content: "☑️";
}

::picker(select) {
  opacity: 0;
  height: 10rem;
  transition: all 0.4s allow-discrete;
  border-color: var(--main-txt-clr);
  border-radius: 8px;
}

::picker(select):popover-open {
  opacity: 1;
}

@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}

nav {
  width: 100%;
}

nav ul {
  border: 1px solid var(--main-txt-clr);
  display: flex;
  padding: .5rem 1rem;
  border-radius: 14px;
}

nav ul div {
  display: flex;
  gap: 4rem;
  align-items: center;
  list-style-type: none;
}

nav ul li a span {
  font-size: 1.3rem;
}

footer {
  background-color: var(--main-txt-clr);
  padding: 1rem;
  display: flex;
  gap: .2rem;
  align-items: center;
  justify-content: center;
  /* position: fixed;
  bottom: 0;
  width: 100%; */
}

footer h1 {
  color: var(--main-bg-clr);
  font-size: 1.3rem;
}

footer h1 a {
  color: rgb(0, 81, 128);
  font-size: 1.3rem;
}

form[action="/search"] {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

form[action="/search"] input {
  color: var(--main-txt-clr);
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  padding: .7rem .5rem;
  border: 1px solid var(--main-txt-clr);
  border-radius: 7px;
  width: 15rem;
}

form[action="/search"] button {
  font-size: 1rem;
  font-weight: 500;
  padding: .7rem .5rem;
  background-color: transparent;
  border: 1px solid var(--main-txt-clr);
  border-radius: 7px;
  transition: background-color .4s, color .4s;
}

form[action="/search"] button:hover {
  background-color: var(--main-txt-clr);
  color: var(--main-bg-clr);
}

.global-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  position: relative;
  padding: 1.5rem 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid blue; */
  height: fit-content;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 0fr;
  gap: 2rem;
}

.btn {
  font-size: 1rem;
  font-weight: 300;
  padding: .5rem;
  background-color: transparent;
  border: 1px solid var(--main-txt-clr);
  border-radius: 7px;
  transition: background-color .4s, color .4s;
  width: fit-content;
}

.btn:hover {
  background-color: var(--main-txt-clr);
  color: var(--main-bg-clr);
}

.product-card-wrapper {
  height: 100%;
  max-height: 24rem;
  display: flex;
  flex-direction: column;
}

.product-card-wrapper:hover {
  transform: scale(1.05);
  transition: transform .3s;
}

.product-card-info {
  color: #ccc;
  padding: 1.2rem;
  background: rgba(255, 255, 255, 0.09);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: 43%;
}

.product-card-img {
  height: 13.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.developer-card-info h3 {
  font-weight: 200;
}

.product-card-info h2 {
  font-weight: bold;
  font-size: 1.3rem;
}

.product-card-price {
  display: flex;
  justify-content: space-between;
}

.product-card-price h4:first-of-type {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.product-card-price h4:last-of-type {
  color: #999999;
}

.developer-card-info {
  display: flex;
  flex-wrap: wrap;
}

.option-buttons {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.title-and-add-btn-div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title-and-add-btn-div button {
  font-size: .8rem;
  font-weight: 100;
  background-color: transparent;
  border: 1px solid var(--main-txt-clr);
  border-radius: 7px;
  transition: background-color .4s, color .4s;
  padding: .4rem .5rem;
  height: fit-content;
}

.title-and-add-btn-div button:hover {
  background-color: var(--main-txt-clr);
  color: var(--main-bg-clr);
}

.image-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-input {
  background-color: transparent;
  border: 1px solid var(--main-txt-clr);
  border-radius: 7px;
  color: var(--main-txt-clr);
}

@keyframes disappear {
  0% {
    visibility: visible;
    opacity: 1;
  }

  80% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (max-width:  1780px) {
  .main {
    padding: 1.5rem 5rem;
  }
}

@media only screen and (max-width:  1280px) {
  .main {
    padding: 1.5rem 2rem;
  }
}

@media only screen and (max-width:  935px) {
  nav ul div {
    gap: 1.5rem;
  }
}

@media only screen and (max-width:  750px) {
  .main {
    padding: 1rem;
  }

  nav ul {
    padding: .5rem;
  }

  nav ul div {
    gap: .8rem;
  }

  nav ul div li a span {
    font-size: 1.1rem;
  }

}

@media only screen and (max-width:  675px) {
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  nav ul div {
    gap: 3rem;
  }

  nav ul div li a span {
    font-size: 1.3rem;
  }

  form[action="/search"] {
    margin: 0;
  }
}

@media only screen and (max-width:  480px) {
  form[action="/search"] input {
    width: 9rem;
  }

  nav ul div {
    gap: 1rem;
  }

  nav ul div li a span {
    font-size: 1rem;
    font-weight: 700;
  }

  .product-card-info {
    padding: .8rem;
  }

  .product-card-info h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .developer-card-info h3 {
    font-size: .9rem;
  }

  .product-card-price h4 {
    font-size: .8rem;
  }
}