.main-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
}

.filters-wrapper {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.filter-category {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: .4rem 1rem;
    border: 1px solid var(--main-txt-clr);
    border-radius: 7px;
    cursor: pointer;
    background: none;
    color: inherit;
    font: inherit;
    width: 100%;
    text-align: left;
    touch-action: manipulation;
}

.filter-category:hover, .filter-category:active, .filter-category:focus {
    background-color: brown;
    border: 1px solid var(--main-txt-clr);
    border-radius: 7px;
}

.radio-input-container, .pagination-wrapper  {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.radio-input-container {
    justify-content: center;
    gap: 2.5rem;
}

.pagination-wrapper {
    padding: 2rem 0;
    justify-content: center;
}

.radio-btn {
    position: relative;
}

.radio-btn h3{
    font-size: large;
}

.radio-btn::after, .active-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    visibility: hidden;
    height: 2px;
    background-color: var(--main-txt-clr);
    transition: visibility .15s ease-in-out, bottom .15s ease-in-out;
}

.active-btn::after {
    visibility: visible;
    bottom: -7px;
}

.radio-btn:hover::after {
    visibility: visible;
    bottom: -7px;
}

select {
    width: 100%;
    height: 10rem;
}

.long-radio-input-div {
    max-height: 13rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: .5rem;
    border: 1px solid var(--main-txt-clr);
    border-radius: 7px;
}

.radio-input-div {
    flex-direction: column;
    gap: .6rem;
    padding: .5rem;
}

.select-imitation {
    width: 100%;
    height: 10rem;
    min-width: 15rem;
    border: 1px solid var(--main-txt-clr);
    border-radius: 7px;
    cursor: pointer;
    transition: 0.4s;
    overflow-y: scroll;
    scrollbar-color: var(--main-txt-clr) var(--main-bg-clr);
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
}

.select-radio-btn {
    display: flex;
    gap: .7rem;
    align-items: center;
    background-color: var(--main-bg-clr);
    padding: .3rem .5rem;
    transition: 0.2s;
    width: 100%;
}

.select-radio-btn h3 {
    font-size: 1.1rem;
}

.select-radio-btn:hover, .selected {
  background-color: #5a0317;
}

.select-radio-btn:first-of-type {
  padding-top: .5rem;
  border-radius: 8px 0 0 0;
}

.select-radio-btn:last-of-type {
  border-radius: 0 0 0px 8px;
  padding-bottom: .5rem;
}

.select-radio-btn:not(.select-radio-btn:last-of-type) {
  border-bottom: none;
}

@media only screen and (max-width:  1420px) {
    .main-content {
        grid-template-columns: 1fr 3fr;
    }

    .products-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:  935px) {
    .main-content {
        grid-template-columns: 1fr 2fr;
    }

    .products-list {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width:  675px) {
    .main-content {
        display: flex;
        flex-direction: column;
    }

    .title-and-add-btn-div {
        justify-content: center;
        gap: 1rem;
    }

    .filters-wrapper {
        gap: 1rem;
    }


    .filter-form {
        max-height: 14rem;
        overflow-y: scroll;
        padding-bottom: .7rem;
        border: 1px solid var(--main-txt-clr);
        border-radius: 7px;
        border-top: none;
    }

    .filter-submit-btn h3 {
        font-size: .8rem;
        margin-left: .5rem;
    }
}